.nav-link {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 5px;
  width: 150px;
  padding: 5px;
  margin: 5px;
  background: rgb(53, 53, 55);
  text-decoration: none;
  text-align: center;
  color: white;
};

.button {
  display: block;
  margin: auto;
  background-color: black;
}

.team-container {
  display: inline-block;
  margin: auto;
}

.team {
  display: inline-block;
  text-align: center;
  margin: 5px;
}